{
  "openapi": "3.0.0",
  "info": {
    "title": "Simpler Grants API",
    "version": "1.0.0",
    "description": "API for searching federal grant opportunities and SBIR/STTR proposals"
  },
  "servers": [
    {
      "url": "https://api.simpler.grants.gov",
      "description": "Simpler Grants Production API"
    }
  ],
  "paths": {
    "/v1/opportunities/search": {
      "post": {
        "summary": "Search for grant opportunities",
        "operationId": "searchOpportunities",
        "description": "Search for federal grant opportunities including SBIR/STTR proposals using keywords and filters",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Free-text search query (e.g., 'SBIR gallium', 'research funding')",
                    "maxLength": 100
                  },
                  "query_operator": {
                    "type": "string",
                    "enum": ["AND", "OR"],
                    "default": "AND"
                  },
                  "filters": {
                    "type": "object",
                    "properties": {
                      "opportunity_status": {
                        "type": "object",
                        "properties": {
                          "one_of": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": ["forecasted", "posted", "closed", "archived"]
                            }
                          }
                        }
                      }
                    }
                  },
                  "pagination": {
                    "type": "object",
                    "required": ["page_offset", "page_size"],
                    "properties": {
                      "page_offset": {
                        "type": "integer",
                        "default": 1
                      },
                      "page_size": {
                        "type": "integer",
                        "default": 25,
                        "maximum": 100
                      },
                      "sort_order": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "order_by": {
                              "type": "string",
                              "enum": ["relevancy", "post_date", "close_date", "opportunity_title"]
                            },
                            "sort_direction": {
                              "type": "string",
                              "enum": ["ascending", "descending"]
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "required": ["pagination"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {"type": "string"},
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination_info": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/opportunities/{opportunity_id}": {
      "get": {
        "summary": "Get opportunity details",
        "operationId": "getOpportunityDetails",
        "description": "Retrieve detailed information about a specific grant opportunity by UUID",
        "parameters": [
          {
            "name": "opportunity_id",
            "in": "path",
            "required": true,
            "description": "UUID of the opportunity",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Opportunity details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}
